<div class="padding-global padding-section-small">
          <div class="footer_container">
            <div class="footer_div-groups">
              <a href="#" class="footer_button w-button">contact</a>
              <a href="#" class="footer_button w-button">FAQ</a>
              <a href="#" class="footer_button w-button">shipping & returns</a>
              <a href="#" class="footer_button w-button">privacy policy</a>
              <a href="#" class="footer_button w-button">terms of service</a>
            </div>
            <div class="footer_div-groups">
              <a href="#" class="footer_button w-button">TikTok</a>
              <a href="#" class="footer_button w-button">Instagram</a>
              <a href="#" class="footer_button w-button">Facebook</a>
            </div>
          </div>
          <div class="footer_container footer_copy_rights">
            <div class="footer_div-groups footer_copy_rights">
              <div class="footer_rights_text">© 2025 Fumum, Inc. All rights reserved.</div>
            </div>
          </div>
        </div>
        <div class="footer_divider"></div>
        <div class="padding_section_xsmall"><img src="{{ 'FUMUM-LOGO---DARK-BROWN.svg' | asset_url }}" loading="lazy" alt=""></div>
        <div class="footer_divider footer_end_line"></div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "section_footer",
    "settings": [
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu",
            "default": "footer"
        }
    ],
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}